@model IEnumerable<QL_Vinpearl.Models.LOAINV>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
	<div class="container-fluid px-4">
		<div class="my-3">
			@Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
		</div>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i>
				Bảng loại nhân viên
			</div>
			<div class="card-body">
				<table id="datatablesSimple">
					<thead>
						<tr>
							<th>Mã Loại Nhân Viên</th>
							<th>Tên Loại Nhân Viên</th>
							<th>Lương Cơ Bản</th>
							<th>Chức Năng</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@Html.DisplayFor(modelItem => item.maLoaiNV)</td>
								<th>@Html.DisplayFor(modelItem => item.tenLoai)</th>
								<th>@Html.DisplayFor(modelItem => item.luongCoBan) <span> vnđ</span></th>
								<td>
									<div class="d-flex justify-content-center">
										<a href="@Url.Action("Edit", new { id = item.maLoaiNV })"><i class="fa-solid fa-lg fa-pen-to-square"></i></a>
										<div class="ms-2"></div>
										<a href="@Url.Action("Delete", new { id = item.maLoaiNV })"><i class="fa-regular fa-lg fa-trash-can"></i></a>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>


