@model QL_Vinpearl.Models.VE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loaiVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giaTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DICHVU.tenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DICHVU.tenDV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maVe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
