@model QL_Vinpearl.Models.DICHVU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container my-5">
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="mb-1">Tên Dịch Vụ: @Html.DisplayFor(model => model.tenDV)</h4>
			<p class="mb-1"> <span class="fw-bold">- Mô Tả:</span> <span class="text-muted">@Html.DisplayFor(model => model.moTa)</span></p>
			<p class="mb-1">
				<span class="fw-bold">- Ảnh:</span>
				<img src="#" alt="Alternate Text" />
			</p>
			<p class="mb-1">
				<span class="fw-bold">- Loại Dịch Vụ:</span>
				@Html.DisplayFor(model => model.LOAIDV.tenLoai)
			</p>
			<p class="mb-1">
				<span class="fw-bold">- Xếp loại:</span>
				@Html.DisplayFor(model => model.xepLoai)
			</p>
			<p class="mb-1">
				<span class="fw-bold">- Số điện thoại:</span>
				@Html.DisplayFor(model => model.sdtDV)
			</p>
			<p class="mb-1">
				<span class="fw-bold">- Địa chỉ:</span>
				@Html.DisplayFor(model => model.diaChiDV)
			</p>
		</li>
	</ul>
	<div class="my-4" style="width: 100%; display: flex">
		<div class="m-auto">
			@Html.ActionLink("Sửa Thông Tin", "Edit", null, new { id = Model.maDV }, new { @class = "btn btn-primary btn-lg" })
			@Html.ActionLink("Quay Về", "Index", null, new { @class = "btn btn-primary btn-lg" })
		</div>
	</div>
</div>