@model QL_Vinpearl.Models.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngayThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.hoTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.hoTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.maLoaiNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.maLoaiNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
